<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>
    <div class="container">
        <h2>Sign up</h2>
        <form method="POST" action="{{ url_for('main.register') }}">
            {{ form.hidden_tag() }}
            {{ form.username.label }}<br>
            {{ form.username }}<br>
            {{ form.email.label }}<br>
            {{ form.email }}<br>
            {{ form.password.label }}<br>
            {{ form.password }}<br>
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password }}<br>
            <button type="submit">Sign up</button><br>
        </form>
        <a href="{{ url_for('main.login') }}">Already have an account? Log In</a>
    </div>
</body>
</html>
